extends layout

block content
        .container
            h1 About Us
            p Fusce auctor ipsum nec risus gravida, vel rutrum ante fringilla. Suspendisse sit amet elit dapibus, auctor quam ac, pharetra nulla. Curabitur congue eu odio non suscipit. Nulla magna augue, commodo quis erat non, euismod dapibus nisi. Fusce non lacus turpis.
            ul
              li Vivamus nec scelerisque
              li Cras efficitur
              li Nam lectus elit
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi diam. Nunc in lorem efficitur, ullamcorper massa at, porta nisi. Quisque sit amet justo at odio posuere ultrices sit amet eu leo. Donec at accumsan arcu. Pellentesque tincidunt sed massa pulvinar finibus. Vestibulum congue volutpat magna, at dictum eros finibus eget. Nam hendrerit ipsum a cursus efficitur. Nam quis ultricies nunc. Morbi sit amet luctus neque, ultricies dictum mauris. Donec lacus libero, maximus sed lacus at, sagittis sagittis mauris. Fusce pulvinar ligula sed massa tristique fringilla sit amet a felis.
